{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="title-container">
        <h1 class="display-4">Sudoku Solver</h1>
        <p class="lead">Here you can solve all the sudoku puzzles you want!</p>
        <hr class="my-4">
        <p>Fill the grid with the inital numbers of the puzzled to solve.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="title-container">
                <form action="/solution" class="center" method="post">
                    <div class="col-md-offset-3">
                        <table id="grid" class="center">
                            {% for i in range(9) %}
                            <tr>
                                {% for j in range(9) %}
                                    <td><input id="cell-{{ i*9 + j }}" name="cell-{{ i*9 + j }}"  type="number"></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <br> 
                    <div class="col-md-offset-3">
                        <button class="btn btn-primary btn-lg btn-block center" type="submit">Solve</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>

{% endblock %}